{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Add heading code -->
    <h1 style="color: #495E57">
        About
    </h1>
    <p>
       *Little Lemon* We are a team of chefs who love to cook and serve delicious meals to our customers. We have been in the business for over 10 years and have served thousands of customers. Our goal is to provide the best dining experience to our customers and make them feel at home.
    </p>
    <p>{{about}}</p>

    <img src="{% static 'img/dessert.jpg' %}" alt="Chef Image">

    <!-- Add paragraph code -->

    <!-- Add image code -->

</body>

</html>