<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style="color: #495E57">
        Menu
    </h1>
    <p>
    *Little Lemon*    We offer a wide range of dishes to suit every taste. Our menu includes appetizers, main courses, desserts, and drinks. We use only the freshest ingredients and the finest spices to create delicious and flavorful dishes. Whether you are a vegetarian, a meat lover, or have a sweet tooth, we have something for everyone. Come and enjoy a meal at our restaurant and experience the flavors of our cuisine.
    </p>

    <img src="{% static 'img/dessert.jpg' %}" alt="Dessert Image">
    <img src="{% static 'img/dessert.jpg' %}">

</body>

</html> -->


<!-- {% if menu %}

{% for item in menu %}
{{item.name}} : {{itme.price}}
<br>
{% endfor %}

{% else %}
<p>No menu items are available.</p>
{% endif %} -->



{% extens 'base.html' %}
{% load static %}
{% block content %}
<p> Menu </p>
<p> This is a Menu page for Little Lemon </p>
{% endblock %}

{% if menu %}

{% for item in menu %}
{{item.name}} : {{itme.price}}